@model IEnumerable<NewHolovataLab1WebApplication.Models.Shop>

@{
    ViewData["Title"] = "Магазини";
}

<h1>Магазини</h1>

<p>
    <a asp-action="Create">Додати новий магазин</a>
</p>

<div style="margin-top:50px;">
<h5>Оберіть Excel-файл для завантаження</h5>
@using (Html.BeginForm("Import", "Shops", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel"}))
{
<div>
Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
<div>
                <input type="submit" value="Завантажити" />
</div>
</div>
}
</div>

<div style="margin-top:50px;">
    <h5>Завантаження інформації у файл</h5>
    <a asp-action="Export">Завантажити</a>
</div>


<table class="table" style="margin-top:50px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
